$white: white !default;
$black: black !default;
$green: #009688 !default;

$header-color: $white !default;
$body-color: $black !default;
$border-color: $white !default;
$hover-color: $white !default;
$footer-color: $green !default;