$white: white !default;
$black: black !default;
$green: #009688 !default;
$grey: grey !default;

$header-color: $white !default;
$body-color: $black !default;
$hover-color: $green !default;
$border-color: $grey !default;