body {
  background-color: $body-color;
}

#search-form {
  text-align: center;
  color: $body-color;
  @include small-and-above {
    position: relative;
    z-index: 99;
    width: 100%;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
#search-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.field-container {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.search-field {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 45%;
  padding: 11px 7px;
  padding-right: 43px;
  background: #fff;
  color: black;
  border: 1px solid #c8c8c8;
  font-size: 1.6em;
  border-bottom-color: #d2e2e7;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
}

#success {
  display: inline-flex;
  margin: 1em;
}

#success img {
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: 2em;
}