.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 3px solid $border-color;
    cursor: pointer;
    padding: 6px 15px 6px 15px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.btn:hover {
    background-color: $hover-color;
    color: $body-color;
    box-shadow: 5px 5px $border-color;

}