#search-btn {
    position: absolute;
    right: 57%;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0.65;
    background: transparent url(../images/search-solid.svg) top left no-repeat;
  }
  
  #search-btn:hover {
    filter: alpha(opacity=90);
    opacity: 0.9;
  }